@{
  ViewData["Title"] = "Get your current time!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form>
  <button type="submit" onclick="OnButtonClicked">Click Here</button>
  <label id="timeLabel"></label>
</form>




