@using CarInsurance.ViewModels
@model List<TableVm>

<div class="row no-gutters m-3">
  <div class="card col-sm col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center">
      <h5 class="m-0">Quotes</h5>
    </div>
    <div class="card-body">
      @foreach (var quote in Model)
      {
        using (Html.BeginForm("Quotes", "Admin", FormMethod.Post))
        {
          <div class="row mb-2">
            <div class="col-2">
              @quote.FirstName
            </div>
            <div class="col">
              @quote.LastName
            </div>
            <div class="col-5">
              @quote.EmailAddress
            </div>
            <div class="col-5">
              @quote.Quote
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>

